In [19]:
lst=[i for i in range(1,11)]

In [21]:
a=[]
for i in range(len(lst)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
lst=[1,2,3,4,5,6]
new=[]
for i in range(len(lst)):
    if i%2!=0:
        new.append(lst[i-1])
new

[1, 3, 5]

In [35]:
lst=[1,2,3,4,5,6]
new=[]
flag=1
while True:
    for i in range(len(lst)):
        if i%2!=0:
            new.append(lst[i-1])
    flag+=1
    if flag>4:
        break
new

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [ ]:
lst=[1,2,3,4,5,6]
new=[]
def puzzle(new):
    for i in range(len(lst)):
        if i%2!=0:
            new.append(lst[i-1])
    
    return(puzzle(new))
puzzle(lst)

In [4]:
lst=[1,2,3,4,5,6]
for i in lst:
    if i%2==0:
        lst.pop(i)
lst

[1, 2, 4, 5]

In [14]:
lst=[1,2,3,4,5,6,7,8,9,10]
# del lst[1::2]
while len(lst)!=1:
    del lst[0::2]
lst

[8]

In [40]:
lst=[1,2,3,4,5,6]
# lst=[1,2,3,4,5,6,7,8,9,10]

while len(lst)!=2:
    for i in lst:
#         print(*lst)
        del lst[1::2]
# print(*lst)
lst.pop(0)
print(*lst)

5

In [41]:
lst=[1,2,3,4,5,6,7,8,9,10]
l=len(lst)

10

# basic practice

In [1]:
print('hello world')

hello world

In [2]:
exit()
#to restart the kernel

In [3]:
x='nirmal'
print('hello '+ x)

hello nirmal

In [4]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [5]:
x=1
y=2
print(x+y)

3

In [8]:
x=1
y=' : one'
print(str(x)+y)

1 : one

In [23]:
type(1+2j)

complex

In [10]:
type(1)

int

In [11]:
type('nirmal')

str

In [12]:
type(1.1)

float

In [16]:
type(1.0000016555888888888888888888888888888888888888888888888888888888888888888888888846546856186498165364568848513126841670123)

float

In [22]:
type(-1.12)

float

In [24]:
type(-5j)

complex

In [45]:
a='hello world'
print(len(a))
print(a[0])
print(a[-1])

11
h
d

In [46]:
a[0:]

'hello world'

In [47]:
a[0:4]

'hell'

In [48]:
a[::-1]

'dlrow olleh'

In [49]:
a[::-1]

'dlrow olleh'

#### reverse each word of string

In [55]:
a='hello python world'
a=a.split(' ')
b=[]
for i in a:
    b.append(i[::-1])
print(*b)

olleh nohtyp dlrow

In [59]:
a='hello how are you nirmal'
print(*([i[::-1] for i in a.split(' ')]))

olleh woh era uoy lamrin

In [61]:
a='hello how are you nirmal'
print(' '.join([i[::-1] for i in a.split(' ')]))

olleh woh era uoy lamrin

In [81]:
a='i am the sentence for sorting apple ball lion'
a=a.split(' ')
a.sort()
print(' '.join(a))

am apple ball for i lion sentence sorting the

In [91]:
a='geeks for geeks'
a=a.split(' ')
a.sort()
print(*a)

for geeks geeks

In [95]:
a='   helo        nirmal'
a.strip()
# The strip() method removes any whitespace from the beginning or the end

'helo        nirmal'

In [100]:
a='helloh babu'
# a.lower()
# a.upper()
a.replace('h','J')

'JelloJ babu'

In [105]:
import pandas as pd

In [112]:
df = pd.read_excel('iris.xlsx').head()
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [114]:
type(df)

pandas.core.frame.DataFrame

In [116]:
df.shape

(5, 11)

In [131]:
lst=['hello','nirmal','python','cdac','vita']

In [132]:
for i in lst:
    print(i)

hello
nirmal
python
cdac
vita

In [133]:
# using list comprehension
print([i for i in lst])

['hello', 'nirmal', 'python', 'cdac', 'vita']

In [134]:
if 'nirmal' in lst:
    print('i am present in list')

i am present in list

In [135]:
len(lst)

5

In [136]:
lst.append('damna')

In [137]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [138]:
lst.pop()

'damna'

In [139]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita']

In [140]:
lst.append(['damna','hajur'])

In [141]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', ['damna', 'hajur']]

In [142]:
lst.pop()

['damna', 'hajur']

In [143]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita']

In [144]:
lst.extend(['damna','hajur'])

In [145]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna', 'hajur']

In [146]:
lst.pop()

'hajur'

In [147]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [148]:
lst.insert(0,'zero')

In [149]:
lst

['zero', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [150]:
lst.remove('zero')

In [151]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [152]:
lst.insert(0,'apple')
lst

['apple', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [153]:
lst.pop(0)

'apple'

In [160]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [162]:
lst.insert(-0,'lastitem')
lst

['lastitem', 'lastitem', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [163]:
lst.pop(0)

'lastitem'

In [165]:
lst

['lastitem', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [169]:
lst.insert(-1,'delete')
#note that list inserting with negative indexing is misleading

In [170]:
lst.pop(-2)

'delete'

In [171]:
lst

['lastitem', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [174]:
lst.insert(-1,'deleter')

In [176]:
lst

['lastitem', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'deleter', 'damna']

In [177]:
lst.remove('deleter')

In [178]:
lst

['lastitem', 'hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [179]:
lst.pop(0)

'lastitem'

In [180]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna']

In [187]:
lst.insert(len(lst),'finallyhere')
# to insert at the end of the list

In [188]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita', 'damna', 'finallyhere']

In [194]:
del lst[-1]
#it removes the list item from last index i.e -1

In [195]:
lst

['hello', 'nirmal', 'python', 'cdac', 'vita']

In [196]:
del lst[0]

In [197]:
lst

['nirmal', 'python', 'cdac', 'vita']

In [198]:
del lst

In [201]:
lst
# since we deleted the list so you will get the error while trying to access the list, error was shown intentionally!

NameError: name 'lst' is not defined

In [206]:
lst = ["apple", "banana", "cherry"]

In [207]:
lst.clear()
# The clear() method empties the list

In [208]:
lst
# note the difference between clear and delete

[]

In [209]:
jpt = list(('a','b','c','d'))

In [210]:
jpt

['a', 'b', 'c', 'd']

In [211]:
type(jpt)

list

In [212]:
a=jpt.copy()

In [213]:
a

['a', 'b', 'c', 'd']

In [214]:
a.pop()

'd'

In [217]:
jpt
#note that  we made shallow  copy of the list jpt so changing list a doesnt reflect in list jpt

['a', 'b', 'c', 'd']

In [218]:
a

['a', 'b', 'c']

In [220]:
a.count('a')

1

In [222]:
jpt.index('b')

1

In [223]:
jpt.reverse()

In [224]:
jpt

['d', 'c', 'b', 'a']

In [229]:
for i in reversed(jpt):
    print(i)

a
b
c
d

In [230]:
jpt

['d', 'c', 'b', 'a']

In [234]:
print([' '.join(i for i in reversed(jpt))])

['a b c d']

In [237]:
jpt.sort()

In [238]:
jpt

['a', 'b', 'c', 'd']

In [242]:
thistuple = ("apple", "banana", "cherry")
# thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)
type(thistuple)

('apple', 'banana', 'cherry')

tuple

In [243]:
thistuple.count('cherry')

1

In [244]:
thistuple.index('apple')

0

In [255]:
setme={}
type(setme)
# note that this is defining empty dictionary rather than set

dict

In [256]:
setme

{}

In [257]:
setme=set()
type(setme)

set

In [258]:
setme

set()

In [264]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [265]:
thisset
# Note: Sets are unordered, so the items will appear in a random order.

{'apple', 'banana', 'cherry'}

In [267]:
if 'apple' in thisset:
    print('apple is present in the set')

apple is present in the set

In [270]:
for i in thisset:
    print(i)

cherry
apple
banana

In [271]:
print('cherry' in thisset)

True

In [272]:
thisset.add('mango')

In [275]:
thisset

{'apple', 'banana', 'cherry', 'mango'}

In [277]:
thisset.update(['pineapple','pears','tears'])
# to add multiple items in the set

In [278]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'pears', 'pineapple', 'tears'}

In [281]:
len(thisset)

7

In [282]:
thisset.remove('tears')

In [283]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'pears', 'pineapple'}

In [285]:
thisset.discard('pears')

In [286]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'pineapple'}

In [287]:
thisset.remove('faltu')
# Note: If the item to remove does not exist, remove() will raise an error.

KeyError: 'faltu'

In [288]:
thisset.discard('faltu')
# Note: If the item to remove does not exist, discard() will NOT raise an error.

In [289]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'pineapple'}

In [292]:
thisset.pop()

'pineapple'

In [293]:
thisset

{'apple', 'banana', 'cherry', 'mango'}

In [294]:
thisset.pop()
# pop removes randomly in case of set

'banana'

In [295]:
thisset

{'apple', 'cherry', 'mango'}

In [297]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
print(z)

{'cherry', 'banana'}

In [298]:
dic={1:'one',2:'two',3:'three'}
type(dic)

dict

In [300]:
dic[2]

'two'

In [301]:
for k,v in dic.items():
    print(k,v)

1 one
2 two
3 three

In [304]:
for val in dic.values():
    print(val)

one
two
three

In [306]:
for k in dic.keys():
    print(k)

1
2
3

In [307]:
dic[4]='four'

In [309]:
dic

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [311]:
print(dic.get('one'))

None

In [318]:
x=dic.get(1)
x

'one'

In [319]:
dic[1]='naya one'

In [320]:
dic

{1: 'naya one', 2: 'two', 3: 'three', 4: 'four'}

In [322]:
for i in dic:
    print(i)
# When looping through a dictionary, the return value are the keys of the dictionary

1
2
3
4

In [323]:
for i in dic:
    print(dic[i])

naya one
two
three
four

In [327]:
dic

{1: 'naya one', 2: 'two', 3: 'three', 4: 'four'}

In [330]:
if 2 in dic:
    print('i am inside dictionary')

i am inside dictionary

In [331]:
len(dic)

4

In [332]:
dic.pop(1)

'naya one'

In [333]:
dic

{2: 'two', 3: 'three', 4: 'four'}

In [334]:
dic.popitem()

(4, 'four')

In [335]:
dic

{2: 'two', 3: 'three'}

In [336]:
dic.popitem()

(3, 'three')

In [337]:
dic

{2: 'two'}

In [339]:
del dic[2]

In [340]:
dic

{}

In [341]:
print('true') if 1==1 else print('false')

true

In [343]:
print('true') if 12==1 else print('false') if 3==4 else print('bad idea')

bad idea

In [344]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [2]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [3]:
for i in 'testing':
    print(i)

t
e
s
t
i
n
g

In [6]:
print(' '.join([i for i in 'testing']))

t e s t i n g

In [8]:
x=range(5)
for i in x:
    print(i)

0
1
2
3
4

In [14]:
x=[i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [33]:
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

In [36]:
example='snow world'
# example[3]='s'
print(example)

snow world

In [40]:
def my_function(country = "India"):
  print("I am from " + country)
my_function("Nepal")
my_function()

I am from Nepal
I am from India

In [45]:
class hello:
    x=5
a=hello()
a.x

5

In [48]:
class person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
obj=person('nirmal','silwal')
obj.lname

# Note: The __init__() function is called automatically every time the class is being used to create a new object

'silwal'

In [65]:
class person:
    def __init__(self,fname,lname):
        self.e=fname
#         self.fname=fname
        self.lname=lname
    def myfunc(a):
        print('hello '+ a.e +' ' + a.lname)
#         print('hello',self.fname,self.lname)

obj=person('nirmal','silwal')
obj.myfunc()

hello nirmal silwal

In [77]:
import math
a=math.factorial(100)
print(a)
len(str(a))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

158

In [88]:
fact=lambda x: 1 if x==0 else x*fact(x-1)
print(fact(5))

120

In [87]:
# factorial using recursion
def fact(n):
    if n==0: return 1
    else: return(n*fact(n-1))
fact(5)

120

In [1]:
fact=lambda x: 1 if x==0 else x*fact(x-1)
print(fact(1))

1

In [12]:
# find the nth highest item from the array
lst=[3,1,5,7,8,50]
lst.sort()
lst.reverse()
print(lst[2])

7

In [33]:
a=('apple','ball','cat')
b=iter(a)
b

In [34]:
next(b)

'apple'

In [35]:
next(b)

'ball'

In [36]:
next(b)

'cat'

In [37]:
st='banana'
st=iter(st)
st

In [38]:
next(st)

'b'

In [39]:
next(st)

'a'

In [40]:
for i in st:
    print(i)
# The for loop actually creates an iterator object and executes the next() method for each loop.

n
a
n
a

In [41]:
import platform
x = platform.system()
print(x)

Windows

In [50]:
# import platform
# x = dir(platform)
# for i in x:
#     print(i)

In [58]:
import datetime as dt
print(dt.datetime.now())

2019-02-19 02:04:47.254512

In [60]:
platform.architecture()

('64bit', 'WindowsPE')

In [75]:
dates=dt.datetime.now()

In [76]:
dates.year

2019

In [77]:
dates.day

19

In [81]:
dates.month

2

In [92]:
birthday='1997-03-08'

In [93]:
birthday=birthday.split('-')
birthday

['1997', '03', '08']

In [98]:
import datetime
print(datetime.datetime.now().year - int(birthday[0]), datetime.datetime.now().month - int(birthday[1]),
      datetime.datetime.now().day - int(birthday[2]) )

22 -1 11

In [101]:
datetime.datetime.now().day - int(birthday[2])

11

In [111]:
import datetime
birthday=datetime.datetime(1995,3,8)

In [112]:
((datetime.datetime.now()-birthday).days)/365

23.96986301369863

In [115]:
import json
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)
# the result is a JSON string:
print(y)
type(y)

{"name": "John", "age": 30, "city": "New York"}

str

In [118]:
import re
str = "hello world"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", str)
print(x)

['hello']

In [132]:
import mysql.connector as con

In [136]:
import pymongo